{% extends "base.html" %}

{% block about %}
    <div class="blog-header">
        <h1 class="blog-title">About me</h1>
        <p class="lead blog-description">A little about me!</p>
     </div>
    <div class="col-sm-8 blog-main">
          <div class="blog-post">
            {% for field in about %}
                {{ field.about|safe }}
            {% endfor %}
          </div>
    </div>
{% endblock %}

{% block about_image %}
    <div class="sidebar-module sidebar-module-inset">
        <img src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/10462830_10154252197010655_3809050688716806616_n.jpg?oh=d65c5029a32cfd35f0cae4079d06fb47&oe=54E98D14&__gda__=1424536945_7b0222c0f803af027bba7bf9e37e6912"
             border="0" height="200" width="210"/>
    </div>
{% endblock %}