{% extends "base.html" %}

{%  block contact %}
    <h1>Contact Me</h1>
    <div class="col-sm-8 blog-main">
        <div class="blog-post">
            <form action="" method="post" role="form">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                    <br>
                </div>
                {% endfor %}
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
{%  endblock %}