{% extends "base.html" %}

{% block photography %}
     <div class="blog-header">
        <h1 class="blog-title">Photography Collection</h1>
        <p class="lead blog-description">Click on one of the albums to see more</p>
     </div>
     <div class="col-sm-8 blog-main">
        <!-- Albums -->
        <ul>
            {% for images in image %}
                <a href="http://127.0.0.1:8000/static/{{ images.image.name }}">
                <img border="0" alt="" src="http://127.0.0.1:8000/static/{{ images.image }}" height="125"/></a>
            {% endfor %}
        </ul>

     </div>
{% endblock %}